/* Code tidied up by ScrapBook */
* { margin: 0px; padding: 0px; }
html { font-size: 120%; }
body { background-color: rgb(108, 125, 143); color: rgb(37, 53, 69); font-size: 80%; font-family: Tahoma,Arial,Helvetica,sans-serif; }
p { margin: 1.2em 0px; }
a { outline: medium none; color: rgb(12, 98, 147); }
a:hover { color: rgb(232, 101, 5); }
ul, ol { margin: 1em 0px 1em 6ex; }
ul { list-style: outside none square; }
.like_h1, h1, h2, h3 { margin-top: 2em; margin-bottom: 0.5em; color: rgb(77, 86, 96); }
.like_h1, h1 { margin-top: 0.1em; margin-bottom: 1em; padding-left: 1px; border-bottom: 1px solid rgb(196, 202, 209); color: rgb(100, 112, 124); font-weight: normal; font-size: 160%; }
h2 { font-size: 130%; }
h2, h2 a, h2 a:hover { color: rgb(77, 86, 96); text-decoration: none; }
small { font-size: 90%; }
input { padding: 1px; }
option { padding-left: 3px; }
img { border: 0px none; }
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: url("pts55f.eot") format("embedded-opentype"), url("pts55f.woff") format("woff"), url("pts55f.ttf") format("truetype"), url("pts55f.svg") format("svg");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: normal;
  src: url("pts56f.eot") format("embedded-opentype"), url("pts56f.woff") format("woff"), url("pts56f.ttf") format("truetype"), url("pts56f.svg") format("svg");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: url("pts75f.eot") format("embedded-opentype"), url("pts75f.woff") format("woff"), url("pts75f.ttf") format("truetype"), url("pts75f.svg") format("svg");
}
@font-face {
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Semibold.eot") format("embedded-opentype"), url("OpenSans-Semibold.woff") format("woff"), url("OpenSans-Semibold.ttf") format("truetype"), url("OpenSans-Semibold.svg") format("svg");
}
div.layout { margin: 0px auto; padding: 0px; max-width: 1600px; border: medium none; border-collapse: collapse; }
table.layout { margin: 0px auto; padding: 0px; max-width: 1600px; border: medium none; border-collapse: collapse; }
div#bannerTop, div#bannerBottom { padding: 1px 0px; background: rgb(108, 125, 143) none repeat scroll 0% 0%; text-align: center; }
div#bannerBottom { background: rgb(152, 164, 176) none repeat scroll 0% 0%; }
.bg_logo { background: rgba(0, 0, 0, 0) url("bg_logo_03.gif") no-repeat scroll 0% 0%; }
.bg_left1 { background: rgb(108, 125, 143) url("bg_left1.jpg") repeat-x scroll 0% 0%; }
.bg_left2 { background: rgba(0, 0, 0, 0) url("bg_left2.jpg") no-repeat scroll right center; }
.bg_left2 img { float: right; }
.bg_left3 { height: 50px; background: rgb(255, 255, 255) url("bg_left3.jpg") no-repeat scroll 0% 0%; }
.bg_right1 { background: rgb(108, 125, 143) url("bg_right1.jpg") repeat-x scroll 0% 0%; }
.bg_right2 { background: rgba(0, 0, 0, 0) url("bg_right2.jpg") no-repeat scroll left center; }
.bg_right3 { height: 50px; background: rgb(255, 255, 255) url("bg_right3.jpg") no-repeat scroll right center; }
.bg_blue_mtext { background: rgba(0, 0, 0, 0) url("bg_group_blue.jpg") no-repeat scroll left bottom; }
td.bg_blue_mcar { background: rgb(255, 255, 255) url("bg_car_blue.jpg") no-repeat scroll 0% 0%; }
.razd1 { padding: 15px 0px 7px 20px; color: rgb(12, 98, 147); font-size: 150%; }
.razd2 { padding: 15px 20px 7px 0px; color: rgb(225, 106, 21); text-align: right; font-size: 150%; }
.general_nav_blue a { color: rgb(203, 243, 255); }
.general_nav_blue a:hover { color: rgb(255, 255, 255); }
.general_nav_blue, .general_nav_orange { font-size: 85%; }
table.general_nav_blue tr.carImages td, table.general_nav_orange tr.carImages td { vertical-align: bottom; }
td.left { padding: 10px 0px 20px 20px; }
td.content { padding: 10px 40px 25px 10px; min-width: 850px; }
a { text-decoration: none; }
div.menu_left { margin-left: -10px; padding: 10px 0px 0px; color: rgb(12, 98, 147); font-size: 110%; }
div.menu_left div { margin: 0px 0px 6px; padding: 0px 0px 0px 13px; background: rgba(0, 0, 0, 0) url("li_arr.gif") no-repeat scroll left center; }
div.menu_left div.act { background: rgba(0, 0, 0, 0) url("li_arr2.gif") no-repeat scroll left center; font-weight: bold; }
div.asearch { padding: 10px 15px; }
table#asearch { color: rgb(72, 89, 108); font-size: 85%; }
table#asearch div { padding: 0.7em 0px 0.3em 1px; }
table#asearch select, table#asearch input { width: 100%; color: rgb(72, 89, 108); }
div.blue { border: 1px solid rgb(172, 204, 233); background: rgb(237, 247, 252) none repeat scroll 0% 0%; }
div.blue h2.color { margin: 0px; padding-left: 45px; background: rgba(0, 0, 0, 0) url("withoutdriver_ico.gif") no-repeat scroll left center; color: rgb(12, 98, 147); font-weight: normal; line-height: 25px; }
div.blue table#asearch div.line { margin: 20px 0px 5px; padding: 0px; background: rgb(172, 204, 233) none repeat scroll 0% 0%; }
table.footer td { padding: 25px 0px; color: rgb(255, 255, 255); font-size: 85%; }
table.footer td a { color: rgb(210, 215, 220); }
table.footer td a:hover { color: rgb(255, 255, 255); }
.tel_img { float: right; width: 220px; clear: left; }
.tel_img_r { float: left; width: 220px; clear: left; }
.hint { top: 400px; left: 40%; z-index: 10; visibility: hidden; padding: 15px; width: 250px; height: 50px; background-position: left top; color: rgb(255, 255, 255); text-align: center; opacity: 0.85; }
.hint[class] { background-image: url("rc_box.png"); }
.ieb, .iea { position: relative; }
.ieb::before, .ieb::after, .iea::after, .ielt8 .ieb > .before, .ielt8 .iea > .after { position: absolute; content: ""; }
.tSearch .company-col { padding-left: 20px; width: 130px; }
.tSearch .company-info-in::before, .tSearch .company-info-in .before { top: 5px; left: -22px; width: 18px; height: 18px; background: rgba(0, 0, 0, 0) url("phone-ico.png") no-repeat scroll 0% 0%; }
.tSearch .company-info-in .show-phone-link { border-bottom: 1px dotted rgb(12, 98, 147); text-decoration: none; }
.tSearch .company-info-in p { margin: 0px 0px 5px; }
.tSearch .company-info-in .phone { font-weight: bold; }
.tSearch .company-info-in .company { font-size: 10px; }
.inst-ribbon { position: absolute; top: -1px; left: 1px; width: 38px; height: 58px; background: rgba(0, 0, 0, 0) url("inst_icon_5.svg") no-repeat scroll 0% 0%; }
.whats-ribbon { position: absolute; top: -1px; left: 42px; width: 38px; height: 58px; background: rgba(0, 0, 0, 0) url("whatsapp_icon.svg") no-repeat scroll 0% 0%; }
.telegram-ribbon { position: absolute; top: -1px; left: 83px; width: 38px; height: 58px; background: rgba(0, 0, 0, 0) url("telegram_icon.svg") no-repeat scroll 0% 0%; }
.p-personal .auto_table .main-price, .tSearch .main-price { position: relative; }
.tSearch .main-price > span { display: inline-block; border-bottom: 1px dotted rgb(255, 110, 0); color: rgb(255, 110, 0); font: 20px/1 "PT Sans"; cursor: pointer; }
.tSearch .main-price:hover > span { border-bottom-color: rgb(12, 98, 147); color: rgb(12, 98, 147); }
.p-personal .main-price:hover .tooltip, .tSearch .main-price:hover .tooltip { display: block; }
.p-personal .main-price .tooltip, .tSearch .main-price .tooltip { position: absolute; top: 21px; left: -15px; z-index: 999; display: none; padding: 10px 15px; border: 1px solid rgb(159, 205, 235); border-radius: 12px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); color: rgb(34, 34, 34); font: 13px/1 "PT Sans"; }
.p-personal .auto_table .price-list td, .tSearch .price-list td { padding: 0px 20px 0px 0px; min-width: 100px; border: 0px none; font-size: 15px; }
.p-personal .auto_table .price-list .price, .tSearch .price-list .price { color: rgb(12, 98, 147); font-size: 20px; }
.p-personal .auto_table .price-list .cur, .tSearch .price-list .cur { font-size: 13px; }
.hidden { display: none; }
*::-moz-selection { background: rgba(128, 166, 255, 0.9) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
b, strong { font-weight: bold; }
hr { display: block; height: 1px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 1em 0px; padding: 0px; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
table button, table input {  }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.blue::before, .blue::after { border-width: 1px; border-style: solid; border-color: rgb(140, 197, 217) rgb(140, 197, 217) rgb(78, 138, 161); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (min-width: 601px) {
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
}
@media only screen and (min-width: 993px) {
}
@media only screen and (min-width: 1201px) {
}
@media only screen and (min-width: 1201px) {
}
@media only screen and (min-width: 993px) {
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 601px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 600px) {
}
