/* Code tidied up by ScrapBook */
.b-buyCar { width: 66px; height: 24px; background: rgba(0, 0, 0, 0) url("s-icons.png") no-repeat scroll 0px -181px; display: block; text-decoration: none; margin: 0px auto; font-size: 11px; text-shadow: 1px 1px 1px rgb(255, 255, 255); padding: 2px 0px 0px 1px; text-align: center; }
.b-buyCar:hover { background: rgba(0, 0, 0, 0) url("s-icons.png") no-repeat scroll 0px -208px; }
.b-sale { background: rgba(0, 0, 0, 0) url("s-icons.png") no-repeat scroll -200px -177px; text-align: center; font-size: 14px; color: rgb(37, 13, 10); width: 50px; height: 38px; display: block; padding-top: 12px; text-shadow: 1px 1px 1px rgb(255, 255, 255); }
