/* Code tidied up by ScrapBook */
.b-buyCar--yellow { width: auto; height: auto; background-image: none; text-shadow: 1px 1px 4px rgb(51, 51, 51); padding: 0.5em 0.8em; color: rgb(255, 255, 255); background-color: rgb(248, 197, 81); display: inline-block; font-size: 1.3em; font-weight: normal; margin: 0.3em 0px; border-radius: 0.3em; transition: background-color 0.2s ease 0s, color 0.2s ease 0s, text-shadow 0.2s ease 0s; }
.b-buyCar--yellow:hover { background-color: rgb(249, 203, 100); background-image: none; text-shadow: 1px 1px 4px rgb(204, 204, 204); color: rgb(51, 51, 51); }
