/* Code tidied up by ScrapBook */
.tSearch td, .tSearch th { font-size: 85%; border-bottom: 1px solid rgb(172, 204, 233); padding: 0.5em 0.2em 0.5em 0.4em; }
.tSearch th { background: rgb(68, 141, 182) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-weight: bold; border-left: 1px solid rgb(255, 255, 255); }
.tSearch td.sort { background: rgb(237, 247, 252) none repeat scroll 0% 0%; border-left: 1px solid rgb(255, 255, 255); border-bottom: medium none; padding: 1px; }
.tSearch td.brd, .tSearch td.tdf { background: rgb(172, 204, 233) none repeat scroll 0% 0%; border-top: 2px solid rgb(255, 255, 255); border-bottom: 0px none; padding: 0px; }
.tSearch td.img { padding: 2px; }
.tSearch td.tdf { background: rgb(68, 141, 182) none repeat scroll 0% 0%; }
.tSearch th.first, .tSearch td.first { border-left-width: 0px; }
.light { color: rgb(91, 107, 123); }
.content table { width: 100%; }
